h1 {
    color: red;
}

p {
    color: blue;
}

a {
    background-color: yellow;
}

h3 {
    color: greenyellow;
}

#vierkant {
    margin: 50px;
    width: 150px;
    height: 150px;
    background-color: orange;
}